body{
  font-family: Arial;
  background:#f4f6f8;
  padding:20px;
  text-align:center;
}
.btn{
  width:100%;
  padding:15px;
  margin:10px 0;
  border:none;
  border-radius:10px;
  font-size:18px;
}
.chamar{background:#e53935;color:#fff}
.cardapio{background:#1e88e5;color:#fff}
.grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:10px;
}
.mesa-btn{
  padding:15px;
  border:none;
  border-radius:8px;
}
.ativa{
  background:#e53935;
  color:white;
}

